In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn
import researchpy, numpy, pandas
import scipy.stats
from scipy import stats
import seaborn as sns
import math
import statistics
import researchpy as rp
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm

# Opdracht 1 - Tevredenheid voorspellen

#### T-test analyse

In [2]:
# import the csv file
airline = pd.read_csv('/Users/jonathanricardo/Library/CloudStorage/OneDrive-HvA/Semester 4 - AI/Logboek AAI/minor-logboek-aai-2023-jonathan/bootcamp/Dag_3/Airlinesatisfaction.csv')

#Random sample of 100
random_subset = airline.sample(n=300)

# Drop unnecessary columns
random_subset = random_subset.drop(['id', 'Gate location'], axis=1)

# Vul de missende data met
mean_delay = random_subset['Arrival Delay in Minutes'].mean()
random_subset['Arrival Delay in Minutes'] = random_subset['Arrival Delay in Minutes'].fillna(mean_delay)

# Rename columns
random_subset.columns = [c.replace(' ', '_') for c in random_subset.columns]

# Replace categoric data with numberic data
random_subset['Gender'].replace({'Male': 0, 'Female': 1},inplace = True)
random_subset['satisfaction'].replace({'neutral or dissatisfied': 0, 'satisfied': 1},inplace =True)
random_subset['Customer_Type'].replace({'disloyal Customer': 0,'Loyal Customer': 1}, inplace = True)
random_subset['Type_of_Travel'].replace({'Personal Travel': 0, 'Business travel': 1}, inplace = True)
random_subset['Class'].replace({'Eco': 0, 'Eco Plus': 1, 'Business': 2} ,inplace=True)

# Print the first 5 rows of the dataframe
random_subset.head()

,Unnamed:_0,Gender,Customer_Type,Age,Type_of_Travel,Class,Flight_Distance,Inflight_wifi_service,Departure/Arrival_time_convenient,Ease_of_Online_booking,...,Inflight_entertainment,On-board_service,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_Delay_in_Minutes,Arrival_Delay_in_Minutes,satisfaction
58688,58688,1,0,28,1,2,1091,4,4,4,...,4,5,5,5,4,5,4,0,0.0,1
17127,17127,0,1,33,1,2,3153,0,5,0,...,3,3,4,1,1,2,3,0,0.0,1
65329,65329,0,1,44,1,2,937,5,5,5,...,5,5,5,5,4,5,4,0,0.0,1
11924,11924,0,1,55,1,2,3463,2,2,2,...,4,4,4,4,5,4,3,0,0.0,1
33660,33660,1,1,68,0,0,272,2,2,2,...,5,5,2,5,2,5,1,0,0.0,0

Hier heb ik de data voorbereidt om te gebruiken in een t-test en andere verdere analysen.

In [3]:
# list of features
features = ['Gender', 'Customer_Type', 'Age', 'Type_of_Travel', 'Class', 'Flight_Distance', 'Inflight_wifi_service', 'Departure/Arrival_time_convenient', 'Ease_of_Online_booking', 'Food_and_drink', 'Online_boarding', 'Seat_comfort', 'Inflight_entertainment', 'On-board_service', 'Leg_room_service', 'Baggage_handling', 'Checkin_service', 'Inflight_service', 'Cleanliness', 'Departure_Delay_in_Minutes', 'Arrival_Delay_in_Minutes']
result_features = []

# t-test on all features
for feature in features:
    summary, result = stats.ttest_ind(random_subset[feature], random_subset['satisfaction'])
    print(f"Feature: {feature},Summary: {summary}, P-value: {result}")

    if result < 0.05:
        result_features.append(feature)

Feature: Gender,Summary: 2.129071301392697, P-value: 0.03365631154457428
Feature: Customer_Type,Summary: 10.326528034232775, P-value: 4.087149979816599e-23
Feature: Age,Summary: 44.81109442959069, P-value: 2.6631694037666457e-193
Feature: Type_of_Travel,Summary: 6.838618584186962, P-value: 1.9797378889256062e-11
Feature: Class,Summary: 10.248380852398425, P-value: 8.143465423206904e-23
Feature: Flight_Distance,Summary: 20.23715552775664, P-value: 9.241643846876838e-70
Feature: Inflight_wifi_service,Summary: 29.424810543767865, P-value: 2.397865017674704e-118
Feature: Departure/Arrival_time_convenient,Summary: 29.085835400237347, P-value: 1.423429601221197e-116
Feature: Ease_of_Online_booking,Summary: 28.4646097833276, P-value: 2.5869481138508445e-113
Feature: Food_and_drink,Summary: 34.5324239855645, P-value: 1.572110869893435e-144
Feature: Online_boarding,Summary: 34.99343757849697, P-value: 7.772659184379862e-147
Feature: Seat_comfort,Summary: 35.663167891420734, P-value: 3.6256137811481794e-150
Feature: Inflight_entertainment,Summary: 36.93705851628184, P-value: 1.9308640942585487e-156
Feature: On-board_service,Summary: 37.52129197597916, P-value: 2.732500366193237e-159
Feature: Leg_room_service,Summary: 36.95132832282526, P-value: 1.6441775563331085e-156
Feature: Baggage_handling,Summary: 45.05899952581808, P-value: 2.086587061721333e-194
Feature: Checkin_service,Summary: 37.19339369057489, P-value: 1.0800943826627266e-157
Feature: Inflight_service,Summary: 44.13396391683954, P-value: 2.9051865908907385e-190
Feature: Cleanliness,Summary: 35.59031853695241, P-value: 8.329963267590806e-150
Feature: Departure_Delay_in_Minutes,Summary: 7.834998886490128, P-value: 2.1517515772811163e-14
Feature: Arrival_Delay_in_Minutes,Summary: 8.045959969479306, P-value: 4.6194575899293796e-15

Hier kan je alle p waarden zien van alle features in onze data set. Waar wij naar toe willen kijken, is een p-value van 0.05 of lager. Dat betekend namelijk dat er significantie is.

Dit zijn: `Gender`, `Type_of_Travel` en `Departure_Delay_in_Minutes`

# Oefening 2
#### ANOVA - verschil leeftijd & klasse

In [4]:
# ANOVA test for age with class
stats.f_oneway(random_subset['Age'][random_subset['Class'] == 0],
               random_subset['Age'][random_subset['Class'] == 1],
               random_subset['Age'][random_subset['Class'] == 2])

F_onewayResult(statistic=1.9639103436069045, pvalue=0.1421265568222857)

De uitgevoerde ANOVA-test onderzoekt of er een significant verschil is in de gemiddelde leeftijden van de drie verschillende vliegklassen. De resultaten van de test geven een F-statistiek en een p-waarde.

De F-statistiek is een maat voor hoeveel de gemiddelden van de groepen verschillen. Een hogere F-statistiek suggereert dat de groepsgemiddelden meer van elkaar verschillen dan je zou verwachten op basis van toeval alleen.

De p-waarde is een maat voor de waarschijnlijkheid dat je de waargenomen resultaten (of extremere) zou krijgen als de nulhypothese waar is. In dit geval is de nulhypothese dat er geen verschil is in de gemiddelde leeftijden van de drie vliegklassen.

Omdat de p-waarde kleiner is dan 0.05, is er sterk bewijs om de nulhypothese te verwerpen. Dit betekent dat er een statistisch significant verschil is in de gemiddelde leeftijden van de drie vliegklassen.

> bij nader inzien zag ik dat alle waarden extreem laag waren. Wellicht betekend dit dat er iets niet helemaal goed is gegaan.

#### ANOVA - verschil flightdistance en klassa

In [5]:
# ANOVA test for flightdistance with class
stats.f_oneway(random_subset['Flight_Distance'][random_subset['Class'] == 0],
               random_subset['Flight_Distance'][random_subset['Class'] == 1],
               random_subset['Flight_Distance'][random_subset['Class'] == 2])

F_onewayResult(statistic=30.424843006892406, pvalue=9.545256669151138e-13)

De F-statistiek in de ANOVA-test is 15.7642 en de p-waarde is 1.1802452611883205e-06.

De p-waarde is veel kleiner dan 0.05, wat meestal wordt gebruikt als drempel voor statistische significantie. Dit betekent dat we het nulhypothese (dat er geen verschil is in de gemiddelde vluchtafstand tussen de verschillende klassen) verwerpen.

Dus, op basis van deze resultaten, is er een statistisch significant verschil in vluchtafstand tussen de drie vliegklassen.

# Oefening 3

In [6]:
# Correlatie tussen features
random_subset.corr()['satisfaction'].sort_values(ascending=False)

satisfaction                         1.000000
Online_boarding                      0.509176
Inflight_entertainment               0.463730
Type_of_Travel                       0.439384
Cleanliness                          0.410934
Seat_comfort                         0.388566
Class                                0.383649
Inflight_wifi_service                0.379800
On-board_service                     0.340789
Leg_room_service                     0.337968
Baggage_handling                     0.288264
Inflight_service                     0.272373
Food_and_drink                       0.261414
Checkin_service                      0.259471
Ease_of_Online_booking               0.230254
Flight_Distance                      0.220693
Customer_Type                        0.128559
Age                                  0.080382
Departure_Delay_in_Minutes           0.052196
Arrival_Delay_in_Minutes             0.037642
Unnamed:_0                           0.029821
Gender                               0.005966
Departure/Arrival_time_convenient   -0.061100
Name: satisfaction, dtype: float64

Hier die je de correlatie tussen features en de satisfaction van een passagier. Met deze gegeven en de gegevens hier boven kunnen wij de features kiezen voor onze voorspellingen.

Dit zijn:
`Online_boarding`, `Class`, `Inflight_entertainment`, `Type_of_Travel`, `Leg_room_service`, `Cleanliness`, `On-board_service`

Met de tests van hier boven pak ik de features: 
`Gender` en `Departure_Delay_in_Minutes`

In [14]:
# Selected features
features = ['Online_boarding', 'Inflight_entertainment', 'On-board_service', 'Leg_room_service', 'Cleanliness', 'Departure_Delay_in_Minutes', 'Class', 'Gender', 'Type_of_Travel']

# Split the data into a training and test set
train_X, test_X, train_y, test_y = train_test_split(random_subset[features], random_subset['satisfaction'], test_size=0.2, random_state=0)

# Initialize the models
models = [LogisticRegression(max_iter=1000), KNeighborsClassifier(n_neighbors=3), svm.SVC(kernel='linear'), svm.SVC(kernel='rbf'), DecisionTreeClassifier()]

# Train the models
percentage = []
for model in models:
    model.fit(train_X, train_y)
    predictions = model.predict(test_X)
    accuracy = accuracy_score(test_y, predictions)
    percentage.append(accuracy)
accuracy_df = pd.DataFrame(percentage, index=['Logistic Regression', 'KNN', 'SVM Linear', 'SVM RBF', 'Decision Tree'], columns=['Accuracy'])
accuracy_df

                     Accuracy
Logistic Regression  0.916667
KNN                  0.833333
SVM Linear           0.916667
SVM RBF              0.800000
Decision Tree        0.933333

In [8]:
random_subset.head()

,Unnamed:_0,Gender,Customer_Type,Age,Type_of_Travel,Class,Flight_Distance,Inflight_wifi_service,Departure/Arrival_time_convenient,Ease_of_Online_booking,...,Inflight_entertainment,On-board_service,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_Delay_in_Minutes,Arrival_Delay_in_Minutes,satisfaction
58688,58688,1,0,28,1,2,1091,4,4,4,...,4,5,5,5,4,5,4,0,0.0,1
17127,17127,0,1,33,1,2,3153,0,5,0,...,3,3,4,1,1,2,3,0,0.0,1
65329,65329,0,1,44,1,2,937,5,5,5,...,5,5,5,5,4,5,4,0,0.0,1
11924,11924,0,1,55,1,2,3463,2,2,2,...,4,4,4,4,5,4,3,0,0.0,1
33660,33660,1,1,68,0,0,272,2,2,2,...,5,5,2,5,2,5,1,0,0.0,0

In [17]:
# Split the data with ALL features
features = ['Gender','Customer_Type','Age',	'Type_of_Travel','Class','Flight_Distance',	'Inflight_wifi_service','Departure/Arrival_time_convenient','Ease_of_Online_booking', 'Inflight_entertainment',	'On-board_service',	'Leg_room_service',	'Baggage_handling',	'Checkin_service',	'Inflight_service',	'Cleanliness',	'Departure_Delay_in_Minutes']

# Split the data into a training and test set
train_X, test_X, train_y, test_y = train_test_split(random_subset[features], random_subset['satisfaction'], test_size=0.2, random_state=0)

# Initialize the models
models = [LogisticRegression(max_iter=1000), svm.SVC(kernel='linear'), svm.SVC(kernel='rbf'), DecisionTreeClassifier()]


# Train the models
percentage = []
for model in models:
    model.fit(train_X, train_y)
    predictions = model.predict(test_X)
    accuracy = accuracy_score(test_y, predictions)
    percentage.append(accuracy)
accuracy_df = pd.DataFrame(percentage, index=['Logistic Regression', 'SVM Linear', 'SVM RBF', 'Decision Tree'], columns=['Accuracy'])
accuracy_df

/Users/jonathanricardo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

                     Accuracy
Logistic Regression  0.850000
SVM Linear           0.833333
SVM RBF              0.683333
Decision Tree        0.866667

We hebben nu onze modellen getest met onze geselecteerde features en alle features. Nu kan je duidelijk zien dat de modellen met features die daadwerklijk relevant zijn, een veel betere accuratie hebben vergeleken met de andere modellen. Die hebben een lagere accuracy omdat ze kijken naar *alle* features, wat dus een negatief effect heeft op de accuracy